body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px 0;
}


.form_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form_Container label {
    font-size: 1.2em;
    color: #333;
}

.form_Container input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 200px;
}

.form_Container input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.form_Container #form_Submit  {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.form_Container #form_Submit:hover {
    background-color: darkgreen;
    transition: background-color 0.3s ease;
}

.form_Container #form_Reset  {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.form_Container #form_Reset:hover {
    background-color: darkred;
    transition: background-color 0.3s ease;
}

.content_Container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game_Header {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.game_Container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cells {
    width: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    }

.cells:hover {
    background-color: grey;
    transition: background-color 0.3s ease;
    color: black;
}

.game_Footer {
    font-size: 1.2em;
    color: #555;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#restart_Button {
    background-color: blue;
}

#restart_Button:hover {
    background-color: darkblue;
    transition: background-color 0.3s ease;
}

#clear_Button {
    background-color: orange;
}

#clear_Button:hover {
    background-color: orangered;
    transition: background-color 0.3s ease;
}